/* Core variables and mixins*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*primary colors*/
/*global text color*/
/*global bg color*/
/*font families*/
/*headings typo*/
/*BOXED LAYOUT*/
/*GRID - media queries breakpoints*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.pd {
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .pd {
    padding: 50px 0;
  }
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: auto;
  font-size: 16px;
  font-family: arial;
  line-height: normal;
  color: #222;
  text-transform: none;
  background: #fff;
  scroll-behavior: smooth;
  position: relative;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #000;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #ddd;
}
html .container,
body .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
html .container-fluid,
body .container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  html .container-fluid,
  body .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
html .row,
body .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
html .no-gutters,
body .no-gutters {
  margin-right: 0;
  margin-left: 0;
}
html .no-gap > .col,
html .no-gap > [class*=col-],
body .no-gap > .col,
body .no-gap > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 576px) {
  html .container,
  body .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  html .container,
  body .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  html .container,
  body .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  html .container,
  body .container {
    max-width: 1010px;
  }
}
html .mainwrapper,
body .mainwrapper {
  width: 100%;
  margin: auto;
  opacity: 1;
  pointer-events: auto;
}
img {
  max-width: 100%;
}

.btnmain {
  border: 1px solid white;
  padding: 12px 40px;
  margin: 5px;
  text-decoration: none;
  color: #fff;
  font-family: pb;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.btnmain i {
  padding-left: 20px;
}
.btnmain:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  background-color: #bea67c;
  color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.btnmore {
  display: inline-flex;
  font-family: pb;
  letter-spacing: 2px;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: #121212;
  margin-left: 100px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.btnmore img {
  margin-left: 10px;
  position: relative;
  transform: scaleX(0px);
  -webkit-transform: scaleX(0px);
  -moz-transform: scaleX(0px);
  -ms-transform: scaleX(0px);
  -o-transform: scaleX(0px);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.btnmore:before {
  content: "";
  width: 35px;
  height: 2px;
  background: #bea67c;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.btnmore:hover {
  color: #bea67c;
}
.btnmore:hover img {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (max-width: 991px) {
  .btnmore {
    margin-left: initial;
  }
}

.textbox {
  margin: auto 0px;
}
.textbox .title {
  font-size: 40px;
  font-family: peb;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.textbox .title::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  margin-right: 20px;
}
.textbox .title.--yellow {
  color: #bea67c;
}
.textbox .title.--white {
  color: #fff;
}
.textbox .description {
  margin: 0 50px 10px 100px;
  font-family: pr;
  line-height: 24px;
}
.textbox .description.--white {
  color: #fff;
}
.textbox.--textRight {
  text-align: right;
}
.textbox.--textRight .title {
  flex-direction: row-reverse;
}
.textbox.--textRight .title::before {
  margin-left: 20px;
  margin-right: inherit;
}
.textbox.--textRight .description {
  margin: 0 100px 10px 50px;
}
.textbox.--textRight .btnmore {
  margin-left: initial;
  margin-right: 100px;
}
.textbox.--textCenter {
  max-width: 460px;
  margin: initial;
  margin: auto;
}
.textbox.--textCenter .title {
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
}
.textbox.--textCenter .title::before {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 40px;
  background: #bea67c;
}
@media screen and (max-width: 991px) {
  .textbox .title::before {
    display: none;
  }
  .textbox .description {
    margin: initial;
    margin-right: 20px;
  }
  .textbox.--textRight .description {
    margin: initial;
    margin-left: 20px;
  }
  .textbox.--textRight .btnmore {
    margin-right: initial;
  }
}
@media screen and (max-width: 767px) {
  .textbox .title {
    font-size: 32px;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    order: -1;
  }
  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    order: -1;
  }
  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    order: -1;
  }
  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: flex !important;
  }
  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-baseline {
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    align-items: stretch !important;
  }
  .align-content-sm-start {
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    align-content: center !important;
  }
  .align-content-sm-between {
    align-content: space-between !important;
  }
  .align-content-sm-around {
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    align-self: auto !important;
  }
  .align-self-sm-start {
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    align-self: center !important;
  }
  .align-self-sm-baseline {
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    justify-content: space-around !important;
  }
  .align-items-md-start {
    align-items: flex-start !important;
  }
  .align-items-md-end {
    align-items: flex-end !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-baseline {
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    align-items: stretch !important;
  }
  .align-content-md-start {
    align-content: flex-start !important;
  }
  .align-content-md-end {
    align-content: flex-end !important;
  }
  .align-content-md-center {
    align-content: center !important;
  }
  .align-content-md-between {
    align-content: space-between !important;
  }
  .align-content-md-around {
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    align-content: stretch !important;
  }
  .align-self-md-auto {
    align-self: auto !important;
  }
  .align-self-md-start {
    align-self: flex-start !important;
  }
  .align-self-md-end {
    align-self: flex-end !important;
  }
  .align-self-md-center {
    align-self: center !important;
  }
  .align-self-md-baseline {
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-content-lg-start {
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    align-content: center !important;
  }
  .align-content-lg-between {
    align-content: space-between !important;
  }
  .align-content-lg-around {
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    align-self: auto !important;
  }
  .align-self-lg-start {
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    align-self: center !important;
  }
  .align-self-lg-baseline {
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    justify-content: center !important;
  }
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    align-items: center !important;
  }
  .align-items-xl-baseline {
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    align-items: stretch !important;
  }
  .align-content-xl-start {
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    align-content: center !important;
  }
  .align-content-xl-between {
    align-content: space-between !important;
  }
  .align-content-xl-around {
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    align-self: auto !important;
  }
  .align-self-xl-start {
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    align-self: center !important;
  }
  .align-self-xl-baseline {
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    align-self: stretch !important;
  }
}

/* Navigation, header, footer*/
/** @format */
header {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 1;
  z-index: 200;
}
header .nav {
  display: none;
}
header .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
header .container-fluid .logo h1 {
  display: none;
}
header .container-fluid .menu {
  display: flex;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
header .container-fluid .menu li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  font-family: pb;
  overflow: hidden;
  margin: 0 15px;
  padding: 0 15px;
  opacity: 0.5;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
header .container-fluid .menu li a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  background: #bea67c;
  left: 0;
  bottom: 20px;
  transform-origin: right center;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -webkit-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -moz-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -ms-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -o-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  transition-property: transform;
}
header .container-fluid .menu li a.active {
  color: #bea67c;
}
header .container-fluid .menu li a:hover {
  color: #bea67c;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  opacity: 1;
}
header .container-fluid .menu li a:hover::after {
  transform-origin: left center;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -webkit-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -moz-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -ms-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  -o-transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
  transition-property: transform;
}
header .container-fluid .right {
  height: 100%;
  display: flex;
  align-items: center;
}
header .container-fluid .right .lang {
  height: 100%;
  position: relative;
  cursor: pointer;
}
header .container-fluid .right .lang__current {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  font-family: pb;
}
header .container-fluid .right .lang__current span {
  padding-right: 8px;
}
header .container-fluid .right .lang__current i {
  transform: 0.4s;
  -webkit-transform: 0.4s;
  -moz-transform: 0.4s;
  -ms-transform: 0.4s;
  -o-transform: 0.4s;
}
header .container-fluid .right .lang__opt {
  color: #fff;
  background-color: #222;
  position: absolute;
  right: 0;
  font-family: pb;
  opacity: 0;
  pointer-events: none;
  transform: 0.4s;
  -webkit-transform: 0.4s;
  -moz-transform: 0.4s;
  -ms-transform: 0.4s;
  -o-transform: 0.4s;
}
header .container-fluid .right .lang__opt div {
  padding: 15px 20px 15px 20px;
  background-color: #222;
}
header .container-fluid .right .lang__opt div:hover {
  color: #bea67c;
}
header .container-fluid .right .lang:hover .lang__opt {
  opacity: 1;
  pointer-events: auto;
  transform: 0.4s;
  -webkit-transform: 0.4s;
  -moz-transform: 0.4s;
  -ms-transform: 0.4s;
  -o-transform: 0.4s;
}
header .container-fluid .right .menubtn {
  margin-left: 10px;
  display: none;
  cursor: pointer;
  height: 25px;
  width: 40px;
  position: relative;
  z-index: 201;
}
header .container-fluid .right .menubtn .mid,
header .container-fluid .right .menubtn .up,
header .container-fluid .right .menubtn .down {
  top: 50%;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background: #fcfcfc;
  position: absolute;
  transition: 0.5s;
  perspective-origin: left;
}
header .container-fluid .right .menubtn .down {
  top: 100%;
}
header .container-fluid .right .menubtn .up {
  top: 0;
}
header .container-fluid .right .change1 {
  transform: rotate(-45deg) translate(-10px, 9px);
}
header .container-fluid .right .change2 {
  opacity: 0;
}
header .container-fluid .right .change3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
@media screen and (max-width: 991px) {
  header .container-fluid .menu {
    display: none;
  }
  header .container-fluid .right .menubtn {
    display: block;
  }
  header .nav {
    display: block;
    height: 100vh;
    width: 40%;
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(50em);
    transition: transform 1s ease-in-out;
    z-index: 100;
  }
  header .nav ul {
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
  }
  header .nav ul li {
    margin: 15px auto;
  }
  header .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;
  }
  header .nav ul li:hover a {
    opacity: 1;
  }
  header .open-nav {
    transform: translateX(0);
    transition: transform 1s ease-out;
  }
}
@media screen and (max-width: 767px) {
  header {
    --heightHeader: 80px;
  }
  header .nav {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }
  header .nav ul {
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
  }
  header .nav ul li {
    margin: 15px auto;
  }
  header .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;
  }
  header .nav.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
  }
}

footer {
  padding: 20px 0;
  background-color: #000;
  color: #b0b0b0;
  position: relative;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
footer .backtotop {
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  footer .container {
    flex-direction: column;
  }
  footer .logo {
    margin: 20px auto;
    position: initial;
    left: initial;
    transform: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
  }
}

/* Pages*/
/** @format */
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider__wrap {
  width: 100%;
  height: 100vh;
}
.slider__wrap-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider__wrap-item .slider-img {
  width: 100%;
  height: 100%;
  max-width: initial;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
}
.slider__wrap-item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 198;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.slider__wrap-item .text h2 {
  color: #bea67c;
  font-size: 90px;
  font-family: pb;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: normal;
  margin-bottom: 20px;
}
.slider__wrap-item.is-selected {
  display: block;
}
.slider__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__bottom .container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__bottom .container-fluid .mouse__arrow {
  animation: down 2s infinite;
}
@keyframes down {
  0% {
    transform: tranlateY(0);
  }
  50% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0em);
  }
}
.slider__bottom .container-fluid .paging {
  display: flex;
  align-items: center;
}
.slider__bottom .container-fluid .paging__number {
  color: #bea67c;
  font-size: 42px;
  font-family: pb;
  line-height: normal;
  display: flex;
  align-items: center;
  width: 135px;
}
.slider__bottom .container-fluid .paging__number::before {
  content: "";
  width: 45px;
  height: 3px;
  background: #bea67c;
  display: inline-block;
  margin-right: 20px;
}
.slider__bottom .container-fluid .paging__dots ul {
  display: flex;
  align-items: center;
}
.slider__bottom .container-fluid .paging__dots ul li {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.slider__bottom .container-fluid .paging__dots ul li:hover, .slider__bottom .container-fluid .paging__dots ul li.active {
  background-color: #bea67c;
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.slider__bottom .container-fluid .mouse {
  left: 50%;
  height: 100%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.slider__bottom .container-fluid .mouse .mouse__arrow {
  position: relative;
}
.slider__bottom .container-fluid .control {
  display: flex;
}
.slider__bottom .container-fluid .control .--prev {
  transform: translateX(1px);
}
.slider__bottom .container-fluid .control .--prev img {
  transform: rotate(180deg);
}
.slider__bottom .container-fluid .control .control__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  padding: 10px 20px;
}
.slider__bottom .container-fluid .control .control__btn:hover {
  background-color: #bea67c;
}
@media screen and (max-width: 991px) {
  .slider .slider__bottom .paging__number::before {
    display: none;
  }
  .slider .slider__bottom .mouse {
    display: none;
  }
  .slider .slider__bottom .control {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .slider .slider__wrap .text h2 {
    font-size: 70px;
    margin-bottom: 10px;
  }
  .slider .slider__wrap .btn {
    padding: 8px 25px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrap .text h2 {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .slider .slider__wrap .btn {
    padding: 8px 25px;
  }
}

.product {
  --wImage: 520px;
}
.product .furniture {
  display: grid;
  grid-template-columns: 1fr var(--wImage);
  position: relative;
}
.product .furniture__img {
  overflow: hidden;
}
.product .furniture:last-child {
  grid-template-columns: var(--wImage) 1fr;
  margin-top: 100px;
}
.product .furniture:last-child .furniture__text {
  grid-area: 2/3/1/2;
}
.product .furniture:last-child .furniture__img {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 991px) {
  .product {
    --wImage: 400px;
  }
  .product::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .product .furniture {
    grid-template-columns: 1fr !important;
  }
  .product .furniture:last-child {
    margin-top: 60px;
  }
  .product .furniture:last-child .furniture__text {
    grid-area: initial;
  }
  .product .furniture:last-child .furniture__img {
    grid-column: initial;
    grid-row: initial;
  }
  .product .furniture .furniture__text {
    margin-bottom: 30px;
    text-align: left;
  }
  .product .furniture .furniture__text .title {
    flex-direction: row;
  }
  .product .furniture .furniture__text .description {
    margin-left: initial;
  }
}

.video {
  padding-top: 0;
}
.video .textbox .description {
  margin: initial;
}
.video__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.video__wrapper .video__item {
  text-align: center;
  margin: auto;
}
.video__wrapper .video__item-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.video__wrapper .video__item-img::after {
  content: "";
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border: 15px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
}
.video__wrapper .video__item-img img {
  min-width: 100%;
  min-height: 100%;
  max-width: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  filter: grayscale(100%) brightness(62%);
  -webkit-filter: grayscale(100%) brightness(62%);
  -moz-filter: grayscale(100%) brightness(62%);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.video__wrapper .video__item-img .playbutton {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
}
.video__wrapper .video__item-img:hover > img {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  transform: tranlate(-50%, -50%) scale(1.05);
  -webkit-transform: tranlate(-50%, -50%) scale(1.05);
  -moz-transform: tranlate(-50%, -50%) scale(1.05);
  -ms-transform: tranlate(-50%, -50%) scale(1.05);
  -o-transform: tranlate(-50%, -50%) scale(1.05);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.video__wrapper .video__item-caption {
  font-size: 16px;
  font-family: pb;
}
.video__wrapper .video__item-caption::before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #000;
  display: block;
  margin: auto;
  margin: 20px auto;
}
@media screen and (max-width: 991px) {
  .video__wrapper .video__item-img {
    height: 160px;
    width: 160px;
  }
}
@media screen and (max-width: 767px) {
  .video__wrapper {
    flex-direction: column;
  }
  .video__wrapper .video__item {
    margin-bottom: 30px;
  }
  .video__wrapper .video__item-img {
    height: 200px;
    width: 200px;
  }
}

.info {
  width: 100%;
  height: auto;
  background: url("../img/wooder-img3.jpg") no-repeat center;
  background-color: #ddd;
  background-size: cover;
}
.info .textbox {
  padding: 130px 0;
  max-width: 550px;
}
.info .textbox .title::before {
  display: none;
}
.info .textbox .description {
  margin: initial;
  margin: 20px 0;
}
.info .btnmain img {
  padding-left: initial;
  padding-right: 20px;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .info {
    height: 500px;
  }
}

.about {
  --wImage: 520px;
}
.about .container {
  display: grid;
  grid-template-columns: var(--wImage) 1fr;
}
.about .textbox {
  margin-left: -40px;
}
@media screen and (max-width: 991px) {
  .about {
    --wImage: 400px;
  }
  .about .textbox {
    margin-left: initial;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .about .container {
    grid-template-columns: 1fr;
  }
  .about .container .furniture__text {
    grid-area: 1/1/2/2;
  }
  .about .container .furniture__img {
    grid-area: 2/1/3/2;
  }
  .about .container .btnmore {
    margin-bottom: 30px;
  }
}

.gallery {
  background-color: #000;
}
.gallery .textbox {
  max-width: 500px;
}
.gallery .textbox .title:before {
  display: none;
}
.gallery .textbox .description {
  padding-top: 30px;
  padding-bottom: 50px;
  margin: initial;
}
.gallery .gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 15px;
}
.gallery .gallery__grid-item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gallery .gallery__grid-item img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.gallery .gallery__grid-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: 10;
}
.gallery .gallery__grid-item.--item2 {
  grid-area: 1/2/3/3;
}
.gallery .gallery__grid-item:hover img {
  transform: translate(-50%, -50%) scale(1.05);
  -webkit-transform: translate(-50%, -50%) scale(1.05);
  -moz-transform: translate(-50%, -50%) scale(1.05);
  -ms-transform: translate(-50%, -50%) scale(1.05);
  -o-transform: translate(-50%, -50%) scale(1.05);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.gallery .gallery__grid-item:hover:before {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .gallery .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 160px;
    gap: 10px;
  }
}

.news {
  --heightImgThumb: 200px;
}
.news .textbox {
  max-width: 500px;
}
.news .textbox .title:before {
  display: none;
}
.news .textbox .description {
  padding-top: 30px;
  padding-bottom: 50px;
  margin: initial;
}
.news .news__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.news .news__wrapper .news__item-img {
  height: var(--heightImgThumb);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.news .news__wrapper .news__item-img img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.news .news__wrapper .news__item-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: 10;
}
.news .news__wrapper .news__item-img:hover img {
  transform: translate(-50%, -50%) scale(1.05);
  -webkit-transform: translate(-50%, -50%) scale(1.05);
  -moz-transform: translate(-50%, -50%) scale(1.05);
  -ms-transform: translate(-50%, -50%) scale(1.05);
  -o-transform: translate(-50%, -50%) scale(1.05);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.news .news__wrapper .news__item-img:hover:before {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.news .news__wrapper .news__item-text .news__title {
  height: 90px;
  font-size: 18px;
  font-family: pb;
  line-height: 24px;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.news .news__wrapper .news__item-text .news__title a {
  text-decoration: none;
  color: #222;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news .news__wrapper .news__item-text .news__title:before {
  content: "";
  width: 80px;
  height: 3px;
  background: #bea67c;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.news .news__wrapper .news__item-text p {
  height: 50px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .news {
    --heightImgThumb: 140px;
  }
}
@media screen and (max-width: 767px) {
  .news {
    --heightImgThumb: 240px;
  }
  .news .news__wrapper {
    grid-template-columns: 1fr;
  }
  .news .news__wrapper .news__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .news .news__wrapper .news__item-text .news__title {
    height: auto;
  }
  .news .news__wrapper .news__item-text .news__title a {
    display: -webkit-inline-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.bottomslider {
  height: 45em;
}
.bottomslider .wrapper {
  overflow: hidden;
}
.bottomslider .wrapper__item {
  overflow: hidden;
  width: 700px;
  height: 45em;
  position: relative;
}
.bottomslider .wrapper__item img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
}

.popup-video {
  z-index: 10000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.popup-video .iframe-wrap {
  background: #000;
  border: 5px solid #eee;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 338px;
}
.popup-video .iframe-wrap .close {
  position: absolute;
  right: -25px;
  top: -25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */